@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --timeline-lines: #5865f2;
    --timeline-circles: #5865f2;
    --latest-update: #5865f2;
    --older-update: #ff0000;
    --shadow: #0015ffd9;
}

.timeline {
    font-family: 'Inter', sans-serif;
    color: #fff;
}

.timeline {
    position: relative;
    padding: 20px 0;
    user-select: none;
}

.timeline::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: var(--timeline-lines);
    left: 50%;
    margin-left: -2px;
    height: 100%;
}


.timeline_title {
    text-align: center;
    font-family: 'Inter', sans-serif;
    color: #fff;
    font-size: 14px;
    height: 3rem;
    user-select: none;
}

.timeline p{
    font-size: 10px;
}

.timeline h2 {
    font-size: 14px;
}


/* Evento inicial */

.event_start strong{
    font-weight: 300;
    color: var(--latest-update);
}

.event_start {
    position: relative;
    margin-top: -1.7rem;
    margin-bottom: 5rem;
}

.event_start p, .event_start h2 {
    margin-left: 55%;
    text-align: left;
}

.event_start p{
    margin-bottom: 0.2rem;
}

.event_start::before {
    content: '';
    position: absolute;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: var(--timeline-circles);
    left: 50.2%;
    margin-left: -0.5rem;
    top: 0;
}


/* eventos esquerda */
.event_left {
    position: relative;
    margin-bottom: 1rem;
}

.event_left p, .event_left h2 {
    margin-right: 55%;
    text-align: right;
}


.event_left p{
    margin-bottom: 0.2rem;
}

.event_left::before {
    content: '';
    position: absolute;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: var(--timeline-circles);
    left: 50.2%;
    margin-left: -0.5rem;
    top: 0;
}

/* Eventos direita */

.event_right {
    position: relative;
    margin-bottom: 1rem;
}

.event_right p, .event_right h2 {
    margin-left: 55%;
    text-align: left;
}

.event_right p{
    margin-bottom: 0.2rem;
}

.event_right::before {
    content: '';
    position: absolute;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: var(--timeline-circles);
    left: 50.2%;
    margin-left: -0.5rem;
    top: 0;
}

.timeline_title {
    text-align: center;
    font-family: 'Inter', sans-serif;
    color: #fff;
    font-size: 14px;
    height: 3rem;
}

/* ultimo evento */

.event_end strong{
    font-weight: 300;
    color: var(--older-update);
}
.event_end {
    position: relative;
    margin-bottom: 1rem;
}

.event_end p, .event_end h2 {
    margin-right: 55%;
    text-align: right;
}

.event_end p{
    margin-bottom: 0.2rem;
}

.event_end::before {
    content: '';
    position: absolute;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: var(--timeline-circles);
    left: 50.2%;
    margin-left: -0.5rem;
    top: 0;
}


/* parte de efeitos */

.event_start, .event_left, .event_right, .event_end{
    transition: all 0.3s ease-in-out;
}

.event_left:hover, .event_right:hover, .event_end:hover{
    transform: translateY(-6px);
}

.event_start:hover{
    transform: translateY(5px);
}

.event_start:hover, .event_left:hover, .event_right:hover, .event_end:hover {
    text-shadow: 0 0 60px var(--shadow);
}


/* Pode remover aqui */


body {
    background: #0c0c0c !important;
}


.titulo {
    color: #ffffff89;
    font-size: 12px;
    user-select: none;
}
